body {
    text-align:center;
}

.dongle-light {
  font-family: "Dongle", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.dongle-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dongle-bold {
  font-family: "Dongle", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.encode-sans-sc-uniquifier {
  font-family: "Encode Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}