body {
    text-align:center;
    font-family: "Dongle";
    font-weight: 400;
    font-size: 2em
}

.dongle-light {
  font-family: "Dongle", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.dongle-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dongle-bold {
  font-family: "Dongle", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.encode-sans-sc-uniquifier {
  font-family: "Encode Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header {
  background-color: #93A5CA;
}

.container {
  width: 100%;
  max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 5em;
    background-color: #93A5CA;
}

h2{
  font-size: 3em;
}